/* Prevent padding and border from affecting element width. */
*,
::before,
::after {
  box-sizing: border-box;
}

/* Remove the margin in all browsers */
body {
  background-color: rgb(75, 70, 70);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
}

#game {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgb(37, 162, 235) 0%;
}

#thing0 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}


.msg {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(251, 255, 0);
  font-size: 90px;
  font-family: sans-serif;
  font-weight: 650;
  text-shadow: 0 0 20px rgb(255, 251, 5);
}

.goMsg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(245, 224, 224);
  font-size: 75px;
  font-family: sans-serif;
  font-weight: 650;
  text-shadow: 0 0 12px rgb(0, 0, 0);
}

.thing {
  position: absolute;
  border-radius: 50%; /* make it perfectly round */
  background: rgba 0, 80, 200, 0.3;
  background: rgb(6, 40, 231);
  box-shadow: 0 0 20px rgb(1, 51, 77);
}
